{% load custom_filters %}
<h1>Reporte de Ordenes y productos con filtro</h1>
<form action="" method="get">
    {{form.as_p}}
    <button type="submit">Aplicar filtros</button>
</form>
<table>
    <tr>
        <th>Id de Orden</th>
        <th>Producto</th>
        <th>Cantidad</th>
        <th>Precio unitario</th>
        <th>Total</th>
        <th>Fecha</th>
    </tr>
        {% for order in orders %}
    <tr>
        <td>{{order.id}}</td>
        <td>{{order.product.name}}</td>
        <td>{{order.quantity}}</td>
        <td>{{order.product.price}}</td>
        <td>{{order.quantity|multiply:order.product.price}}</td>
        <td>{{order.created_at}}</td>
    </tr>
        {% endfor %}
</table>
{% if not orders %}
    <p>No se encontraron ordenes que coincidan con los filtros</p>
{% endif %}    